<div class="bg-white rounded-3xl relative m-10  mx-auto transform transition-all duration-500 ease-in-out shadow-md"
  style="width: 98% ; margin-bottom: 5rem;">
  <!-- Modal Header -->
  <div class="flex items-center justify-between p-6 rounded-tl-3xl rounded-tr-3xl" style="background-color:   #18559f;">
    <h3 class="text-2xl font-semibold text-blue-50">Gestion de la société</h3>
  </div>

  <!-- Modal Body -->
  <div class="p-6 space-y-8 ">
    <form [formGroup]="companyForm">
      <mat-horizontal-stepper linear [labelPosition]="'bottom'">
        <!-- Step 1: Identité de la Société -->
        <mat-step>
          <ng-template matStepLabel>Identité de la Société</ng-template>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <h3 class="col-span-full text-xl font-semibold h-full text-gray-700 mb-4">Identité de la Société</h3>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">
                Ex Identifiant Proinvest<span class="text-red-500">*</span>
              </label>
              <input type="number" formControlName="exIdentifiant"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="Ex: 123456">

              <div
                *ngIf="companyForm.get('exIdentifiant')?.invalid && (companyForm.get('exIdentifiant')?.dirty || companyForm.get('exIdentifiant')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('exIdentifiant')?.errors?.['required']">
                  L'identifiant est obligatoire.
                </div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">
                Raison sociale (FR) <span class="text-red-500">*</span>
              </label>
              <input type="text" formControlName="raisonSociale"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="Nom en FR">

              <div
                *ngIf="companyForm.get('raisonSociale')?.invalid && (companyForm.get('raisonSociale')?.dirty || companyForm.get('raisonSociale')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('raisonSociale')?.errors?.['required']">
                  La raison sociale est obligatoire.
                </div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">اسم الشركة بالعربية <span
                  class="text-red-500">*</span></label>
              <input type="text" formControlName="raisonSocialeAr"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="الاسم بالعربية" required>

              <!-- Messages d'erreur -->
              <div
                *ngIf="companyForm.get('raisonSocialeAr')?.invalid && (companyForm.get('raisonSocialeAr')?.dirty || companyForm.get('raisonSocialeAr')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('raisonSocialeAr')?.errors?.['required']">
                  اسم الشركة بالعربية مطلوب.
                </div>

              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Abréviation / Ancien nom</label>
              <input type="text" formControlName="abreviation"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="Abréviation">
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">
                Adresse Siège social (FR) <span class="text-red-500">*</span>
              </label>
              <textarea formControlName="siegeSocial"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="Adresse Siège social (FR)" rows="3"></textarea>

              <div
                *ngIf="companyForm.get('siegeSocial')?.invalid && (companyForm.get('siegeSocial')?.dirty || companyForm.get('siegeSocial')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('siegeSocial')?.errors?.['required']">
                  L'adresse du siège social est obligatoire.
                </div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">عنوان الشركة بالعربية <span
                  class="text-red-500">*</span></label>
              <textarea formControlName="siegeSocialAr"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="العنوان بالعربية" rows="3" required></textarea>

              <!-- Messages d'erreur -->
              <div
                *ngIf="companyForm.get('siegeSocialAr')?.invalid && (companyForm.get('siegeSocialAr')?.dirty || companyForm.get('siegeSocialAr')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('siegeSocialAr')?.errors?.['required']">
                  العنوان بالعربية مطلوب.
                </div>

              </div>
            </div>
          </div>
          <div class="flex justify-end mt-16">
            <!-- Suivant Button with Font Awesome Icon -->
            <button mat-button matStepperNext (click)="nextStep()"
              class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-600 hover:to-blue-800 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-blue-500 flex items-center gap-2">
              Suivant
            </button>
          </div>


        </mat-step>

        <!-- Step 2: Informations Géographiques -->
        <mat-step>
          <ng-template matStepLabel>Informations Géographiques</ng-template>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <h3 class="col-span-full text-xl font-semibold text-gray-700 mb-4">Informations Géographiques</h3>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Pays <span
                  class="text-red-500">*</span></label>
              <select formControlName="pays"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let pays of paysList" [value]="pays.id">
                  {{ pays.nom }}
                </option>
              </select>
              <!-- Message d'erreur Pays -->
              <div
                *ngIf="companyForm.get('pays')?.invalid && (companyForm.get('pays')?.dirty || companyForm.get('pays')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('pays')?.errors?.['required']">
                  Le pays est obligatoire.
                </div>
              </div>

            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Gouvernorat <span
                  class="text-red-500">*</span></label>
              <select formControlName="gouvernorat"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let gov of GouvernoratsList" [value]="gov.id">{{ gov .nom}}</option>
              </select>
              <!-- Message d'erreur Gouvernorat -->
              <div
                *ngIf="companyForm.get('gouvernorat')?.invalid && (companyForm.get('gouvernorat')?.dirty || companyForm.get('gouvernorat')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('gouvernorat')?.errors?.['required']">
                  Le gouvernorat est obligatoire.
                </div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Matricule Fiscal <span
                  class="text-red-500">*</span></label>
              <input type="text" formControlName="MF"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="0000000/C" required>
              <!-- Messages d'erreur -->
              <div
                *ngIf="companyForm.get('MF')?.invalid && (companyForm.get('MF')?.dirty || companyForm.get('MF')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('MF')?.errors?.['required']">
                  Le matricule fiscal est obligatoire.
                </div>
                <div *ngIf="companyForm.get('MF')?.errors?.['pattern']">
                  Le matricule fiscal doit être au format 0000000/C
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-between mt-16">
            <!-- Précédent Button  -->
            <button mat-button matStepperPrevious (click)="previousStep()"
              class="bg-gray-500 hover:bg-gray-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-gray-500 flex items-center gap-2">
              Précédent
            </button>

            <!-- Suivant Button  -->
            <button mat-button matStepperNext (click)="nextStep()"
              class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-600 hover:to-blue-800 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-blue-500 flex items-center gap-2">
              Suivant
            </button>
          </div>


        </mat-step>

        <!-- Step 3: Informations Juridiques -->
        <mat-step>
          <ng-template matStepLabel>Informations Juridiques</ng-template>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <h3 class="col-span-full text-xl font-semibold text-gray-700 mb-4">Informations Juridiques</h3>
            <!-- Date de création -->
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Date création <span
                  class="text-red-500">*</span></label>
              <input type="date" formControlName="dateCreation"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required min="1950-01-01">

              <div
                *ngIf="companyForm.get('dateCreation')?.invalid && (companyForm.get('dateCreation')?.dirty || companyForm.get('dateCreation')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('dateCreation')?.errors?.['required']">
                  La date de création est obligatoire.
                </div>
              </div>
            </div>
            <!-- Date d'exploitation -->
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Date exploitation <span
                  class="text-red-500">*</span></label>
              <input type="date" formControlName="dateDossier"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required min="1950-01-01">

              <div
                *ngIf="companyForm.get('dateDossier')?.invalid && (companyForm.get('dateDossier')?.dirty || companyForm.get('dateDossier')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('dateDossier')?.errors?.['required']">
                  La date d'exploitation est obligatoire.</div>
              </div>
            </div>
            <!-- Forme juridique -->
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Forme juridique <span
                  class="text-red-500">*</span></label>
              <select formControlName="formeJuridique"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let forjur of FormeJuridiqueList" [value]="forjur.id">{{ forjur.nom}}</option>
              </select>

              <div
                *ngIf="companyForm.get('formeJuridique')?.invalid && (companyForm.get('formeJuridique')?.dirty || companyForm.get('formeJuridique')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('formeJuridique')?.errors?.['required']">La forme juridique est obligatoire.
                </div>
              </div>
            </div>
            <!-- Type -->
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Type <span
                  class="text-red-500">*</span></label>
              <select formControlName="typeProjet"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let typePro of TypeProjetList" [value]="typePro.id">{{ typePro.nom}}</option>
              </select>

              <div
                *ngIf="companyForm.get('typeProjet')?.invalid && (companyForm.get('typeProjet')?.dirty || companyForm.get('typeProjet')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('typeProjet')?.errors?.['required']">
                  Le type est obligatoire.
                </div>
              </div>
            </div>

            <!-- Statuts de la société (PDF) -->
            <!-- Statuts de la société (PDF) -->
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Statuts de la société (PDF) <span
                  class="text-red-500">*</span></label>
              <div class="relative">
                <input type="file" formControlName="status" (change)="onFileChange($event, 'status')"
                  class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors opacity-0 absolute z-10"
                  accept="application/pdf" required>
                <div class="w-full px-4 py-2 border border-gray-300 rounded-lg bg-white">
                  <span class="text-gray-500">{{ selectedStatutsFileName || 'Choisir un fichier' }}</span>
                </div>
              </div>
              <div
                *ngIf="companyForm.get('status')?.invalid && (companyForm.get('status')?.dirty || companyForm.get('status')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('status')?.errors?.['required']">
                  Les statuts de la société sont obligatoires.
                </div>
                <div *ngIf="companyForm.get('status')?.errors?.['fileType']">
                  Le fichier doit être au format PDF.
                </div>
              </div>
            </div>

            <!-- Dossier Juridique (PDF) -->
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Dossier juridique (PDF)</label>
              <div class="relative">
                <input type="file" formControlName="dossierJuridique"
                  (change)="onFileChange($event, 'dossierJuridique')"
                  class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors opacity-0 absolute z-10"
                  accept="application/pdf" multiple>
                <div class="w-full px-4 py-2 border border-gray-300 rounded-lg bg-white">
                  <span class="text-gray-500">{{ selectedDossierFileNames.join(', ') || 'Choisir un fichier' }}</span>
                </div>
              </div>
              <div
                *ngIf="companyForm.get('dossierJuridique')?.invalid && (companyForm.get('dossierJuridique')?.dirty || companyForm.get('dossierJuridique')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('dossierJuridique')?.errors?.['fileType']">
                  Le fichier doit être au format PDF.
                </div>
              </div>
            </div>
          </div>

          <div class="flex justify-between mt-16">
            <!-- Précédent Button  -->
            <button mat-button matStepperPrevious (click)="previousStep()"
              class="bg-gray-500 hover:bg-gray-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-gray-500 flex items-center gap-2">
              Précédent
            </button>

            <!-- Suivant Button  -->
            <button mat-button matStepperNext (click)="nextStep()"
              class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-600 hover:to-blue-800 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-blue-500 flex items-center gap-2">
              Suivant
            </button>
          </div>

        </mat-step>

        <!-- Step 4: Activité et Économie -->
        <mat-step>
          <ng-template matStepLabel>Activité et Économie</ng-template>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <h3 class="col-span-full text-xl font-semibold text-gray-700 mb-4">Activité et Économie</h3>
            <!-- Objet Social -->
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Objet social <span
                  class="text-red-500">*</span></label>
              <input type="text" formControlName="objet"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="Objet social" required>

              <div
                *ngIf="companyForm.get('objet')?.invalid && (companyForm.get('objet')?.dirty || companyForm.get('objet')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('objet')?.errors?.['required']">L'objet social est obligatoire.</div>
              </div>
            </div>

            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">نشاط الشركة <span
                  class="text-red-500">*</span></label>
              <input type="text" formControlName="objetAr"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="نشاط الشركة" required>

              <div
                *ngIf="companyForm.get('objetAr')?.invalid && (companyForm.get('objetAr')?.dirty || companyForm.get('objetAr')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('objetAr')?.errors?.['required']">نشاط الشركة مطلوب.</div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Secteur économique <span
                  class="text-red-500">*</span></label>
              <select formControlName="secteurEconomique"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let sect of SecteurEconomiqueList" [value]="sect.id">{{ sect .nom}}</option>

              </select>
              <div
                *ngIf="companyForm.get('secteurEconomique')?.invalid && (companyForm.get('secteurEconomique')?.dirty || companyForm.get('secteurEconomique')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('secteurEconomique')?.errors?.['required']">Le secteur économique est
                  obligatoire.</div>
              </div>

            </div>
          </div>
          <div class="flex justify-between mt-16">
            <!-- Précédent Button  -->
            <button mat-button matStepperPrevious (click)="previousStep()"
              class="bg-gray-500 hover:bg-gray-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-gray-500 flex items-center gap-2">
              Précédent
            </button>

            <!-- Suivant Button  -->
            <button mat-button matStepperNext (click)="nextStep()"
              class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-600 hover:to-blue-800 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-blue-500 flex items-center gap-2">
              Suivant
            </button>
          </div>

        </mat-step>

        <!-- Step 5: Contacts et Communication -->
        <mat-step>
          <ng-template matStepLabel>Contacts et Communication</ng-template>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <h3 class="col-span-full text-xl font-semibold text-gray-700 mb-4">Contacts et Communication</h3>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">N° de téléphone société <span
                  class="text-red-500">*</span></label>
              <input type="number" formControlName="telephone"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="Téléphone" required>

              <!-- Messages d'erreur -->
              <div
                *ngIf="companyForm.get('telephone')?.invalid && (companyForm.get('telephone')?.dirty || companyForm.get('telephone')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('telephone')?.errors?.['required']">
                  Le numéro de téléphone est obligatoire.
                </div>
                <div *ngIf="companyForm.get('telephone')?.errors?.['pattern']">
                  Le numéro de téléphone doit contenir exactement 8 chiffres.
                </div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Adresse mail société <span
                  class="text-red-500">*</span></label>
              <input type="email" formControlName="email"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="exemple@gmail.com" required>

              <!-- Messages d'erreur -->
              <div
                *ngIf="companyForm.get('email')?.invalid && (companyForm.get('email')?.dirty || companyForm.get('email')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('email')?.errors?.['required']">
                  L'adresse email est obligatoire.
                </div>
                <div *ngIf="companyForm.get('email')?.errors?.['email']">
                  <div *ngIf="companyForm.get('email')?.hasError('email')">
                    Veuillez entrer une adresse email valide sous la forme exemple&#64;gmail.com
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-between mt-16">
            <!-- Précédent Button  -->
            <button mat-button matStepperPrevious (click)="previousStep()"
              class="bg-gray-500 hover:bg-gray-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-gray-500 flex items-center gap-2">
              Précédent
            </button>

            <!-- Suivant Button  -->
            <button mat-button matStepperNext (click)="nextStep()"
              class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-600 hover:to-blue-800 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-blue-500 flex items-center gap-2">
              Suivant
            </button>
          </div>

        </mat-step>

        <!-- Step 6: Paramètres Divers-->
        <mat-step>
          <ng-template matStepLabel>Paramètres Divers</ng-template>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <h3 class="col-span-full text-xl font-semibold text-gray-700 mb-4">Paramètres Divers</h3>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Nature de la société <span
                  class="text-red-500">*</span></label>
              <select formControlName="NatureProjet"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let naturSoc of NatureProjetList" [value]="naturSoc.id">
                  {{ naturSoc.nom }}
                </option>
              </select>
              <div
                *ngIf="companyForm.get('NatureProjet')?.invalid && (companyForm.get('NatureProjet')?.dirty || companyForm.get('NatureProjet')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('NatureProjet')?.errors?.['required']">La nature de la société est
                  obligatoire.</div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Type Management <span
                  class="text-red-500">*</span></label>
              <select formControlName="typeManagement"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let TypeM of TypeManagementList" [value]="TypeM.id">
                  {{ TypeM.nom }}
                </option>
              </select>
              <div
                *ngIf="companyForm.get('typeManagement')?.invalid && (companyForm.get('typeManagement')?.dirty || companyForm.get('typeManagement')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('typeManagement')?.errors?.['required']">Le type management est obligatoire.
                </div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">
                Devise <span class="text-red-500">*</span>
              </label>
              <select formControlName="devise"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors">
                <option *ngFor="let dev of DeviseList" [value]="dev.id">
                  {{ dev.nom }}
                </option>
              </select>

              <!-- Message d'erreur -->
              <div
                *ngIf="companyForm.get('devise')?.invalid && (companyForm.get('devise')?.dirty || companyForm.get('devise')?.touched)"
                class="mt-1 text-sm text-red-500">
                <span *ngIf="companyForm.get('devise')?.errors?.['required']">La devise est obligatoire</span>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Identifiant STB <span
                  class="text-red-500">*</span></label>
              <input type="number" formControlName="identifiant"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                placeholder="Identifiant STB" required>

              <div
                *ngIf="companyForm.get('identifiant')?.invalid && (companyForm.get('identifiant')?.dirty || companyForm.get('identifiant')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('identifiant')?.errors?.['required']">L'identifiant STB est obligatoire.
                </div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Type identifiant <span
                  class="text-red-500">*</span></label>
              <select formControlName="typeIdentifiant"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let TypeIden of TypeIdentifiantList" [value]="TypeIden.id">
                  {{ TypeIden.nom }}
                </option>
              </select>
              <div
                *ngIf="companyForm.get('typeIdentifiant')?.invalid && (companyForm.get('typeIdentifiant')?.dirty || companyForm.get('typeIdentifiant')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('typeIdentifiant')?.errors?.['required']">Le type identifiant est
                  obligatoire.</div>
              </div>

            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Type entreprise <span
                  class="text-red-500">*</span></label>
              <select formControlName="typeEntreprise"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let TypeEntr of TypeEntrepriseList" [value]="TypeEntr.id">
                  {{ TypeEntr.nom }}
                </option>
              </select>
              <div
                *ngIf="companyForm.get('typeEntreprise')?.invalid && (companyForm.get('typeEntreprise')?.dirty || companyForm.get('typeEntreprise')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('typeEntreprise')?.errors?.['required']">Le type entreprise est obligatoire.
                </div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Paramètre RSM620 <span
                  class="text-red-500">*</span></label>
              <select formControlName="parametreRSM620"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let par620 of ParametreRSM620List" [value]="par620.id">
                  {{ par620.nom }}
                </option>
              </select>
              <div
                *ngIf="companyForm.get('parametreRSM620')?.invalid && (companyForm.get('parametreRSM620')?.dirty || companyForm.get('parametreRSM620')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('parametreRSM620')?.errors?.['required']">Le paramètre RSM620 est
                  obligatoire.</div>
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">Paramètre RNL870 <span
                  class="text-red-500">*</span></label>
              <select formControlName="parametreRNL870"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors"
                required>
                <option *ngFor="let par870 of ParametreRNL870List" [value]="par870.id">
                  {{ par870.nom }}
                </option>
              </select>
              <div
                *ngIf="companyForm.get('parametreRNL870')?.invalid && (companyForm.get('parametreRNL870')?.dirty || companyForm.get('parametreRNL870')?.touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="companyForm.get('parametreRNL870')?.errors?.['required']">Le paramètre RNL870 est
                  obligatoire.</div>
              </div>
            </div>
          </div>
          <div class="flex justify-between mt-16">
            <!-- Précédent Button  -->
            <button mat-button matStepperPrevious (click)="previousStep()"
              class="bg-gray-500 hover:bg-gray-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-gray-500 flex items-center gap-2">
              Précédent
            </button>

            <!-- Suivant Button  -->
            <button mat-button matStepperNext (click)="onSubmit()"
              class="bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-600 hover:to-blue-800 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:shadow-xl transition-all border border-blue-500 flex items-center gap-2">
              Envoyer
            </button>
          </div>

        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</div>