
.body {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 3rem; 
  transition: all 0.5s ease;
  padding: 2rem;
  min-height: calc(100vh - 4rem);
  overflow: auto;
}


.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 18rem;
}
.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
  